$primary-color: #3F51B5;
$primary-color-active: #5C6BC0;
$placeholder-color: #B0BEC5;
$box-shadow-color: #07BDD4;
$background-color-input: #F7FAFE;
$white: #FFFFFF;
$error-color: #D34444;
$error-color-active: red;
$disabled-color: #C9C9C9;
$bgcolor: #3B4D57;
$datepicker-color: #2E2E2E;
$datepicker-amount-color: #BFBFBF;
$background-color: #27282E;

$difference-color: #FEC64A;
$accomplished-color: #4BDBA4;
$planned-color: #24AEFC;
$issue-color: #F0345F;

$table-color-even: #2e3136;
$table-color-odd: #27282e;
$table-first-header-color: #2e3136;
$table-second-header-color: #393c44;

$happy-color: #51C993;
$sad-color: #ED5454;
$neutral-color: #3A89E3;

$background-color-card: #2E3036;

$box-shadow-color-secondary: #383838;