@import 'assets/colors';
@import 'assets/fonts';

body {
    overflow: hidden;
}

* {
    font-family: Aileron;
}

.ml-15 {
    margin-left: 15px;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mt-30 {
    margin-top: 30px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-45 {
    margin-right: 45px;
}

.ml-45 {
    margin-left: 45px;
}

.ml-60 {
    margin-left: 60px;
}

.ta-l {
    text-align: left;
}

.m-0 {
    margin: 0px;
}

.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.container {
    padding: 0px 30px 30px 30px;
    width: calc(100vw - 60px);
}

.d-flex {
    display: flex;
}

.p-relative {
    position: relative;
}

.error {
    border-color: $error-color;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.App {
  text-align: center;
  background-color: $background-color;
  height: 100%;
  > div.loggedIn {
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-content: flex-start;
    height: calc(100vh - 45px);
    padding-bottom: 60px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: $primary-color;
}

h1, h2, h3, h4, h5 {
  color: #FFFFFF;
}

label {
  color: $box-shadow-color;
}

.line-flex {
    display: flex;
    flex-wrap: wrap;

    > div {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        label {
            width: 100%;
            margin-bottom: 10px;
            font-family: 'Aileron bold';
        }
    }
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

input {
  height: 40px;
  border: $placeholder-color solid 1px;
  padding: 0px 8px;
  border-radius: 3px;
  background-color: $background-color-input;
  caret-color: $primary-color;

  &[type=checkbox] {
    height: unset;
    margin-right: 10px;
  }

  &[type=date] {
    padding: 0px 12px 0px 8px;
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator,
    &::-webkit-clear-button {
        display: none;
        -webkit-appearance: none;
    }
  }

  &:focus {
      border-color: $primary-color;
      box-shadow: unset;

      + .characters-indicator {
          color: $primary-color;
      }
  }
}

a.btn {
  height: 33px;
  display: flex;
  text-decoration: unset;
  span {
    margin: auto;
  }
}

.btn {
  padding: 4px 20px;
  height: 45px;
  border-radius: 6px;
  border: 2px solid;
  font-family: Aileron;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
 
  &:not(:disabled) {
    cursor: pointer;
  }

  img, svg {
      max-width: 20px;
      margin-left: 10px;
  }

  &.btn-primary {
      min-width: 170px;

      &:disabled {
          background-color: $disabled-color;
          border-color: $disabled-color;
          color: $white;
      }
      &:not(:disabled):not(.disabled) {
          background-color: $primary-color;
          border-color: $primary-color;
          color: $white;
          svg {
            .a {
                fill:#fff;
            }
          }
      
          &:hover, &:focus {
              box-shadow: 6px 12px 20px 0 $box-shadow-color;
              border-color: $white;
          }
      
          &:active {
              background-color: $primary-color-active;
              border-color: $primary-color-active;
          }
      }
  }
  

  &.btn-secondary:not(:disabled):not(.disabled) {
      min-width: 170px;
      background-color: $table-second-header-color;
      border-color: $table-second-header-color;
      color: $white;

      &:hover, &:focus {
          box-shadow: 6px 12px 20px 0 $box-shadow-color-secondary;
          background-color: $table-second-header-color;
          border-color: $white;
          color: $white;
          svg {
            .a {
                fill:#fff;
            }
          }
      }
  
      &:active {
          background-color: $primary-color-active;
          border-color: $primary-color-active;
          color: $white;
      }
  }

  &.btn-danger {
      min-width: 170px;

      &.jh-create-entity {
          min-width: 260px;
      }
      &:disabled {
          background-color: $error-color;
          border-color: $error-color;
      }
      &:not(:disabled):not(.disabled) {
          background-color: $error-color;
          border-color: $error-color;
          color: $white;
      
          &:hover {
              box-shadow: 6px 12px 20px 0 rgba(235, 63, 63, 0.35);
              border-color: $white;
          }
      
          &:active {
              background-color: $error-color-active;
              border-color: $error-color-active;
          }
      }
  }
}

.subtitle {
    font-weight: 400;
    margin: 0px
}

.difference-color {
    color: $difference-color;
}
.accomplished-color {
    color: $accomplished-color;
}
.planned-color {
    color: $planned-color;
}
.issue-color {
    color: $issue-color;
}
.bg-happy {
    background-color: $happy-color !important;
}
.bg-sad {
    background-color: $sad-color !important;
}
.bg-neutral {
    background-color: $neutral-color !important;
}

@media(max-width: 1005px) {
    :not(:fullscreen) .App {
        >  div.loggedIn {
            height: 100vh;
        }
    }
}

@media (max-width: 860px) {
    .container {
        padding: 5px;
        width: calc(100vw - 10px);
    }
}